h1 {
  font-family: sans-serif;
  color: rgb(189, 184, 184);
}
body {
  background-color: rgb(69, 69, 69);
}

h2 {
  font-family: sans-serif;
  color: rgb(189, 184, 184);
}

body {
  color: cadetblue;
}
